/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/*FONT FAMILY
font-family: 'Bebas Neue', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
*/
:root{
    --grad_blue :#192586;
    --grad_white:#C6CBEC;
    --white:#FFFFFF;
    --black:#000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.landing-page{
    min-height: 100vh;
    width: 100%;    
    left: 0;
    top: 0;
    background: linear-gradient(116.82deg, #192586 45.64%, #C6CBEC 100%);
    border-radius:0px 0px 30px 30px;
    overflow: hidden;
    display: block;
}

.navbar {
    display: flex;
    align-items:center;
    justify-content:space-between;
    font-size: 100%;
    padding-left: 5%;
    padding-top: 2%;
    padding-right: 4%;
    
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
    position: relative;
    text-decoration: none;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    
}
.navbar ul li a{
    color: var(--white);
    text-decoration: none;
    padding: 6px 5px;
}

.navbar ul li ul li a{
    color: #000000;
}
.navbar li a:hover {
    color: #3ca0e7;
}
.navbar li:hover {
    cursor: pointer;
}
.navbar ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    left: 0;
    display: none;
    background: white;
    z-index: 5;
}
.navbar ul li:hover > ul,
.navbar ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 150px;
    text-align: left;
    padding-top: 15px;
    box-shadow: 0px 3px 5px -1px #ccc;
}
.navbar ul li ul li {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 7px;
    border-style: none;
}
.navbar ul li ul li a:hover {
    padding-left: 10px;
    border-left: 2px solid #3ca0e7;
    transition: all 0.3s ease;
}

.navbar .logo{
    color: var(--white);
    font-size: 2em;
    cursor: pointer;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    font-weight: 400;
    margin-left: 7%;  
}
a {
    text-decoration: none;
}
a:hover {
    color: #3CA0E7;
}
ul li ul li a {
    transition: all 0.5s ease;
}

.about{
	width: 100%;
	padding: 100px 0px;
}


.about img{
	height: auto;
	width: 26%;
    position: absolute;
    top: 20%;
    right: 6.2%;
}

.left{
	width: 550px;
}

.left h2{
	color:var(--white);
    font-weight: 400;
    font-size: 5.3em;
    line-height: 1em;
    font-family: 'Bebas Neue', cursive;
    margin-left: 25%;
}

.left h3{
	color: var(--white);
    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    font-weight: 100;
    font-size: 2.8em;
    line-height: 1.5em;
    /*margin-bottom: 7%;*/
    margin-left: 25%;
}

.left p{
	color: var(--white);
	line-height: 1.7em;
	font-size: 1.3em;
	/*margin-bottom: 45px;*/
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-left: 25%;
}


.quote{
    color:var(--white);
	margin-top: 7%;
    font-weight: 50;
    font-size: 2em;
    font-family: 'Bebas Neue', cursive;
    position:relative;
    text-align: center;
}

.features{
    background-color:var(--white);
    padding: 30px;
    min-height:100vh;
    width:100%;
    left: 0;
}

.features .head{
    font-family: 'Bebas Neue', cursive;
    font-size:3em;
    color: var(--black);
    text-align: center;
    letter-spacing: 2px;

}

.features .sub-head{
    font-family: 'Roboto', sans-serif;
    color: var(--black);
    font-size: 1em;
    display:flex;
    justify-content: center;
    align-items: center;
    line-height:2em;
}


.cards{
    display: grid;
    grid-template-columns: 350px 350px;
    grid-auto-rows: auto;
    align-items: stretch;
    justify-content: center;
}         
.card {
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    width: 320px;
    height: 344px;
    padding: .5rem;
    background: #FFFFFF;
    box-shadow: 18px 4px 37px #6770B4;
    border-radius: 34px;
    text-align: center;
    line-height: 2;    
    margin-top: 7%;
}

.card h3{
    font-weight: 50;
    font-size: 2em;
    font-family: 'Bebas Neue', cursive;
}

.card h4{
    font-weight: 10;
    font-size: 1.2em;
    margin-top: 25%;
}

.card h5{
    font-weight: 10;
    font-size: 1.2em;
    margin-top: 7%;
}

.card h6{
    font-weight: 10;
    font-size: 1.2em;
    margin-top: 15%;
}

.card h2{
    font-weight: 10;
    font-size: 1.5em;
    margin-top: 25%;
}

.Register{
    background: linear-gradient(116.82deg, #192586 45.64%, #C6CBEC 100%);

}

.Register h2{
    font-size: 4em;
    font-family: 'Bebas Neue', cursive;
    color:var(--white);
    text-align:center;
    font-weight: 400;

}

.Register h3{
    font-size:2em;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    text-align: center;
    color: var(--white);
    line-height: 1.5em;
}

.container{
    position: relative;
    padding-bottom: 0;
    margin-bottom: -5%;
    z-index: 0;
}

form .fields{
    position: relative;
    border-bottom: 1px solid #ebe3e3;
    max-width: 300px;
    margin: 30px 100px 20px;
    margin-top: 25px;
    
}

.fields input{
    width: 100%;
    padding:  0 10px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: var(--white);
}

.fields label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #dbd7d7;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
    padding:5px;
}

.fields span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    transition: .5s;
}

.fields input:focus ~ label,
.fields input:valid ~ label{
  top: -5px;
 
}
.fields input:focus ~ span::before,
.fields input:valid ~ span::before{
  width: 100%;
}


.button button{
    width:200px;
    height: 30px;
    border: 1px solid;
    background:var(--white);
    border-radius: 25px;
    font-size: 18px;
    color:var(--black);
    margin-left:11%;
    cursor: pointer;
    outline: none;
}

.side-card{
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    width: 190%;
    height: 240%;
    margin-left: 25%;
    padding: .5rem;
    background: #FFFFFF;
    box-shadow: 18px 4px 37px #6770B4;
    border-radius: 34px;
    line-height: 2;
    
}

.side-card h4{
    text-align: center;

}

.tracks{
    position:relative;
    left: 700px;
    bottom:400px;
    width: 200px;
    height: 120px;
}
.vid video {
    position: relative;
    min-width: 150vh;
    height: 50vh;
    -o-object-fit: cover;
       object-fit: cover;
       margin-top: 5%;
       margin-left: 13%;
       z-index: 0;
       opacity: 80%;

  }

.overlay-text{
    position: absolute;
    z-index: 1;
    margin-top: -23%;
    margin-left: 36%;
    font-family: 'Bebas Neue', cursive;
    font-size:3em;
    color: var(--white);
    text-shadow: 1px 2px black;
}

.overlay-btn{
    position: absolute;
    z-index: 1;
    margin-top: -5%;
    margin-left:44%;
}

.btn {
    background: #FFFFFF;
    border: 2px solid #e7e7e7;
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color:var(--black);
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #E2E2E2;
    text-decoration: none;
  }
  .footer {
    margin-top: 4%;
    background: #2030ac;
    padding: 50px 0 20px;
    align-items: center;
    text-align: center;
}

.footer a{
    color: white;
    justify-content: center;
    margin-left: 5%;
}

.copyright {
    font-size: 0.75rem;
    color: #EAF6F6;
    text-align: center;
    margin-top: 4%;
    justify-content: center;
}

@media only screen and (min-width: 1366px) and (orientation: landscape)
{
    .quote{
        margin-top: 11%;
    }
    form .fields{
        margin-left: 12%;
        display: block;
    }
    .side-card{
        margin-left: 100%;
    }
    .button button{
        margin-bottom: 5%;
        margin-left: 15%;
    }
}