/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/*FONT FAMILY
font-family: 'Bebas Neue', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
*/
:root{
    --grad_blue :#192586;
    --grad_white:#C6CBEC;
    --white:#FFFFFF;
    --black:#000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    overflow-x: hidden;
    background:#fff;
    min-height:100vh;

}

.landing-page{
    position: absolute;
    height: 100vh;
    width: 100%;    
    left: 0px;
    top: 0px;
    background: linear-gradient(116.82deg, #192586 45.64%, #C6CBEC 100%);
}

#navbar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding-top:30px;
    


}

.image{
    position:relative;
    height:50px;
    width: 30px;
}



